*.iml
.gradle
/gradlew
/gradlew.bat
/settings.gradle
/.idea
.DS_Store
/app/build
/app/libs
/app/captures
/app/proguard-rules.pro
/app/src/androidTest
/app/src/test
.externalNativeBuild
.cxx
local.properties
